@import "./variables/colors";
@import "./variables/type";
@import "./variables/spacing";

.icon::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.fa-solid fa-laptop-code::before {
  content: "\f5fc";
}
.fa-brands fa-twitter::before {
  content: "\f099";
}
.fa-brands fa-linkedin-in::before {
  content: "\f0e1";
}
.fa-brands fa-facebook::before {
  content: "\f39e";
}
.fa-brands fa-github::before {
  content: "\f09b";
}

.socials {
  list-style: none;
  font-family: $typenormal;
  color: $neutral;
  .button:hover {
    background: $neutral;
  }
  li {
    padding-left: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }
  a {
    text-decoration: none;
    color: $neutral;
    padding-top: 0.5em;
    padding-left: 0;
  }
  i {
    padding-right: 1em;
  }

  #socials-blog {
    position: relative;
    // right: 1.5em;
    bottom: 5fr;

    background: $blog;
    // transform: translateX(95%);
    transition: 1s, transform 0.5s;
  }
  #socials-facebook {
    position: relative;
    // right: 1.4em;
    bottom: 4fr;
    background: $facebook;
    // transform: translateX(95%);
    transition: 1s, transform 0.5s;
  }
  #socials-twitter {
    position: relative;
    // right: 1.45em;
    bottom: 3fr;
    background: $twitter;
    // transform: translateX(95%);
    transition: 1s, transform 0.5s;
  }
  #socials-linkedin {
    position: relative;
    // right: 1.5em;
    bottom: 2fr;
    background: $linkedin;
    // transform: translateX(95%);
    transition: 1s, transform 0.5s;
  }
  #socials-github {
    position: relative;
    // right: 1.35em;
    bottom: 1fr;
    background: $git;
    // transform: translateX(95%);
    transition: 1s, transform 0.5s;
  }
}

.button:hover {
  background: $neutral;
}
