$neutral: hsl(0, 0%, 100%);
$highlight: hsl(238, 66%, 64%);
$dark: hsl(0, 0%, 0%);
$light: hsla(0, 0%, 100%, 0.9);
$halftone: hsl(0, 0%, 35%);
$bg: hsl(217, 35%, 83%);
$blog: hsl(2, 64%, 67%);
$facebook: hsl(221, 44%, 41%);
$twitter: hsl(196, 100%, 46%);
$git: hsl(0, 0%, 20%);
$linkedin: hsl(199, 100%, 36%);
