$neutral: hsl(0, 0%, 100%);
$highlight: hsl(238, 66%, 64%);
$bg: hsl(217, 35%, 83%);
$blog: hsl(2, 64%, 67%);
$facebook: hsl(221, 44%, 41%);
$twitter: hsl(196, 100%, 46%);
$linkedin: hsl(0, 0%, 20%);
$git: hsl(199, 100%, 36%);


